/target
.env
.dockerignore
.idea/
.sqlx
getProgramAccounts.json
test.json
README.md
CLAUDE.md
DEPLOY.md
GEMINI.md
log.log
requirements.txt
verify_slot_consistency.py
find_data_in_redis.py
package-lock.json
package.json
node_modules
getProgramAccountsV2.json
usdc.log
usdt.log
usdt.json
kafka-cli.sh
kafka-monitor.sh
kafka-data/
logs/
clickhouse-data
clickhouse-logs